<div class="left-toolbar">
	<div class="container-fluid white">
		<p class="pull-left">Hi, <a ng-click="clickName()" class="white">
			{{userEmail}}
		</a></p>

		<a class="pull-right white" href="#" ng-click="logout()">Log out</a>

		<hr class="white">

		<h2>Chord Sheet Details</h2>

		<form>
		  <div class="form-group">
		    <label>Title:</label>
		    <input type="text" class="form-control" placeholder="Title" ng-model="songTitle">
		  </div>
		  <div class="form-group">
		    <label>Artist:</label>
		    <input type="text" class="form-control" placeholder="Artist" ng-model="songArtist">
		  </div>
		</form>

		<section class="button-section">
			<button type="button" class="btn btn-default btn-sm white" aria-label="Left Align" ng-click="print()">
			  <span class="glyphicon glyphicon-print" aria-hidden="true"></span> Print
			</button>
			<button type="button" class="btn btn-default btn-sm white" aria-label="Left Align" ng-click="save()">
			  <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save
			</button>
			<button type="button" class="btn btn-default btn-sm white" aria-label="Left Align" ng-click="delete()">
			  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete
			</button>
		</section>

		<hr class="white">

		<h2>Chord List</h2>

		<div class="btn-group" role="group" aria-label="..." ng-repeat="chord in chordList">
  		<button type="button" class="btn btn-default btn-xs white no-border" ng-click="addLabel(chord)">
  			{{chord.root}} {{chord.mod | chordFilter}}
  		</button>
  		<button type="button" class="btn btn-default btn-xs white no-border" ng-click="deleteChord($index)">
  			<span class="glyphicon glyphicon-remove"></span>
  		</button>
		</div>

		<section style="height:20px;"></section>

  	<label>Add To Chord List:</label>
    <div class="input-group">
    	<form class="add-chord" ng-submit="addChord()">
	      <input type="text" class="form-control" placeholder="C#maj7" ng-model="newChordInput">
	      <span class="input-group-btn">
	        <button class="btn btn-default white no-border" type="submit">
	        	<span class="glyphicon glyphicon-plus"></span>
	        </button>
	      </span>
      </form>
    </div>

    <br>

    <label>Change Key:</label>
		<section class="button-section">
			<button type="button" class="btn btn-default btn-sm white" aria-label="Left Align" ng-click="changeKey(-1)">
			  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Up Half-step
			</button>
			<button type="button" class="btn btn-default btn-sm white" aria-label="Left Align" ng-click="changeKey(1)">
			  <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Down Half-step
			</button>
		</section>

		<br>

		<label>Show Chord Legend:</label>
    <section>
			<label class="radio-inline">
			  <input type="radio" name="chordList" ng-change="changeTabDisplay()" ng-model="tabDisplay" value="top">Top 
			</label>
			<label class="radio-inline">
			  <input type="radio" name="chordList" ng-change="changeTabDisplay()" ng-model="tabDisplay" value="bottom">Bottom 
			</label>
			<label class="radio-inline">
			  <input type="radio" name="chordList" ng-change="changeTabDisplay()" ng-model="tabDisplay" value="none">None 
			</label>
		</section>

		<br>

		<section class="delete-section white">
			<span class="glyphicon glyphicon-trash"></span>
			<label> Drag unwanted chord labels here to delete them </label>
		</section>
	</div>
</div>
<div class="container-flex full-area">
	<div class="container writing-area">
		<h1>{{songTitle}}</h1>
		<h1><small> by {{songArtist}}</small></h1>
		<hr>
		<div ng-class="{'hidden':!(tabDisplay === 'top')}">
			<label>Chord List:</label>
			<div id="chord-tab-top">
			</div>
			<hr>
		</div>

		<div id="lyrics" ng-class="{'pad-top':(tabDisplay === 'top')}" contenteditable>Click here to copy/paste your lyrics or start typing them in.
		Use "Add To Chord" by entering in a chord, like Dbmaj9.
		Click on a chord on the chord list to add a draggable chord label.
		Drag chord labels right above the lyrics when you want them played.
		If you want to delete a chord label, drag them into the trash bin on the right.
		You can also save or print.
		</div>

		<div ng-class="{'hidden':!(tabDisplay === 'bottom')}">
			<hr>
			<label>Chord List:</label>
			<div id="chord-tab-bottom">
			</div>
		</div>
	</div>
</div>