<div class="left-toolbar">
	<div class="container-fluid">
		<p class="pull-left">Hi, <a ng-click="linkTo('songlist')">
			{{userEmail}}
		</a></p>

		<a class="pull-right" href="#" ng-click="logout()">Log out</a>

		<hr>

		<h2>Chord Sheet Details</h2>

		<form>
		  <div class="form-group">
		    <label>Title:</label>
		    <input type="text" class="form-control" placeholder="Title" ng-model="songTitle">
		  </div>
		  <div class="form-group">
		    <label>Artist:</label>
		    <input type="text" class="form-control" placeholder="Artist" ng-model="songArtist">
		  </div>
		</form>

		<section class="button-section">
			<button type="button" class="btn btn-default btn-sm" aria-label="Left Align">
			  <span class="glyphicon glyphicon-print" aria-hidden="true"></span> Print
			</button>
			<button type="button" class="btn btn-default btn-sm" aria-label="Left Align">
			  <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save
			</button>
			<button type="button" class="btn btn-default btn-sm" aria-label="Left Align">
			  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete
			</button>
		</section>

		<hr>

		<h2>Chord List</h2>

		<div class="btn-group" role="group" aria-label="..." ng-repeat="chord in chordList">
  		<button type="button" class="btn btn-default btn-xs" ng-click="addLabel(chord)">
  			{{chord.root}}{{chord.mod}}
  		</button>
  		<button type="button" class="btn btn-default btn-xs" ng-click="deleteChord($index)">
  			<span class="glyphicon glyphicon-remove"></span>
  		</button>
		</div>

		<section style="height:20px;"></section>

  	<label>Add to Chord List:</label>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="C#maj7" ng-model="newChordInput">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="addChord()">
        	<span class="glyphicon glyphicon-plus"></span>
        </button>
      </span>
    </div>

    <br>

    <label>Show Chord Legend:</label>
    <section>
			<label class="radio-inline">
			  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">Top 
			</label>
			<label class="radio-inline">
			  <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">Bottom 
			</label>
			<label class="radio-inline">
			  <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">None 
			</label>
		</section>

		<br>

		<section class="delete-section">
			<span class="glyphicon glyphicon-trash"></span>
			<label> Drag unwanted chord labels here to delete them </label>
		</section>
	</div>
</div>
<div class="container-flex full-area">
	<div class="container writing-area">
		<h1>{{songTitle}}</h1>
		<h1><small>{{songArtist}}</small></h1>
		<hr>
		<label>Chord List:</label>
		<div id="chord-tab-top">
			<div id="chord1"></div>
		</div>
		<hr>

		<p id="lyrics" contenteditable>
			Prosciutto beef ribs beef sirloin swine cupim. Short loin ball tip rump short ribs, porchetta ham pork chop doner beef ribs ground round bacon sirloin. Jerky strip steak alcatra, jowl andouille biltong hamburger ground round brisket bacon. Flank turkey beef, prosciutto pork chop bacon ground round ball tip shank chuck.

			Tongue picanha cupim ribeye pig tenderloin biltong jerky. Turducken picanha rump pancetta. Ham hock drumstick porchetta, pork tongue landjaeger ground round frankfurter short ribs tenderloin jowl. Shank t-bone porchetta beef ribs leberkas hamburger biltong sausage beef meatball shoulder
		</p>
	</div>
</div>