h1{
	display: inline-block;
	font-family: 'Roboto', sans-serif;
}

h2{
	text-align: center;
	font-size: 29px;
	font-family: 'Roboto', sans-serif;
}

hr{
	clear: both;
	display: block;
	width: 100%;
}

hr.white{
	border-color: rgba(207,111,62,1);
	/*border-color: rgba(207,111,62,1);*/
}

/* left toolbar styles */

div.left-toolbar{
	position: fixed; top: 0; left: 0;
	width: 300px; height: 100vh;
	padding-top: 15px;
	
	/*background-color: #C2DEF0;*/
	background-color: rgba(52,42,29,1);
}

p.user{
	display: inline-block;	
}

section.button-section{
	display: flex;
	justify-content: space-around;
}

section.radio-section{
	display: flex;
	justify-content: space-between;
}

section.delete-section{
	color: rgba(248,235,201,1);
	display: block;
	width: 250px; max-height: 250px;
	margin: 0 auto; padding: 10px;
	border: 2px dashed rgba(248,235,201,1);
	text-align: center;
}

section.delete-section:hover{
	color: rgba(207,111,62,1);
	display: block;
	width: 250px; max-height: 250px;
	margin: 0 auto; padding: 10px;
	border: 2px dashed rgba(207,111,62,1);
	text-align: center;
}

/* writing area styles */

div.full-area{
	padding-left: 300px;
}

div.writing-area{
	padding: 20px;
	width: 511pt;
}

div#lyrics{
	line-height: 60px;
	white-space: pre-line;
	padding-top: 60px;
}

div.pad-top{
	padding-top: 10px !important;
}

div.chord-tab{
	display: inline-block;
}

div.chord-label{
	position: absolute;
	border: 1px solid #3369E8;
	font-weight: bold;
  line-height: normal;
  padding: 3px;
  color: #3369E8;
  cursor: -webkit-grab;
}

form.add-chord{
	display: inline-flex;
}

div.hidden{
	display: none;
}

/* draggable special classes */

div.dragging{
	background-color: #3369E8;
	color: white;	
	cursor: -webkit-grabbing;
}

div.can-drop{
	border-color: red;
	background-color: red;
	color: white;
}

section.drop-target{
	border: 2px dashed rgba(207,111,62,1);
	color: rgba(207,111,62,1);
	background-color: rgba(248,235,201,1);
}

/* songlist classes */

h2.songlist{
	display:inline-block
}

div.songlist{
	float: right;
	margin:15px;
}

a.logout{
	padding: 25px;
}

/* printing-area */

div.priting-area{
	padding: 20px;
	width: 511pt;
}

/* login */
div.guitar-bg{
	background-image: url('img/pexels-photo-63695-sm.jpeg');
	height: 100vh;
	background-position: center;
	background-size: cover;
}

div.form-bg{
	background-color: rgba(52,42,29,.7);
	border-radius: 40px;
	padding: 15px 50px;
}

.white{
	color: rgba(228,186,76,1);
}

a.white{
	color: rgba(248,235,201,1);
}

a.white:hover{
	color: rgba(207,111,62,1);
}

input[type="text"], input[type="password"]{
	background-color: rgba(248,235,201,1);
}

button.white{
	color: rgba(248,235,201,1);
	background-color: rgba(52,42,29,1);
	border: solid rgba(248,235,201,1);
}

button.white:hover{
	color: rgba(207,111,62,1);
	background-color: rgba(52,42,29,1);
	border: solid rgba(207,111,62,1)
}

button.no-border{
	border: 1px solid;
}

button.no-border:hover{
	border: 1px solid;
}

h1.white{
	display: block;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

/* copied from a fiddle */
input[type='radio'] {
    -webkit-appearance:none;
    width:16px;
    height:16px;
    border:1px solid rgba(207,111,62,1);
    border-radius:50%;
    outline:none;
    box-shadow:0 0 4px 0px rgba(228,186,76,1) inset;
}
input[type='radio']:hover {
    box-shadow:0 0 4px 0px rgba(207,111,62,1) inset;
}
input[type='radio']:before {
    content:'';
    display:block;
    width:70%;
    height:70%;
    margin: 15% auto;    
    border-radius:50%;    
}
input[type='radio']:checked:before {
    background:rgba(228,186,76,1);
}